.boton {
    position: static;
    float: right;
    width: 64px;
    height: 64px;
    font-weight: 400;
    font-size: 40px;
    border-radius: 40px;
    border: 0px;
    bottom: 365px;
    z-index: 2;
    background-color: #1c59a8;
    color: white;
    transform: rotate(0);
    transition: .3s ease;
}

.boton:focus {
    background-color: #1c59a8d0;
    transform: rotate(224deg);
}

.box-boton {
    justify-content: flex-end;
    display: flex;
}